/* Hide the top banner frame */
.goog-te-banner-frame {
    display: none !important;
}

/* Prevent the body from being pushed down */
body {
    top: 0 !important;
    position: static !important;
}

/* Hide the "Original Text" tooltip/popups on hover */
.goog-te-balloon-frame {
    display: none !important;
}

#goog-gt-tt {
    display: none !important;
}

.goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
}